
/* Background color  */
body,html{
	height: 100%;
	margin: 0;
	background: rgb(222, 235, 230);

}

/* center chat card at center - auto add space above & below*/
.card-position{
	margin-top: 20px;
	margin-bottom: auto;
}

/* container contains the chat window */
.container{
	align-content: center;
}



/* CONTAINER CARD */

/* card head */
.card_head{
	position: relative;
}

/* card - contins header ad footer*/
/* .card{
	height: 1px;
	border-radius: 40px !important;
	background-color: rgba(236, 18, 200) !important;
} */





/* TOP SECTION 

	- LLAMA Icon
	- LLM Title
	- Sub-Title

*/


/* header container contains llama icon and LLM Title and subtitle  */
.header_container_size{
	position: relative;
	height: 70px;
	width: 70px;
}

/* llama icon - surrounding ribbon */
.llama_icon{
	height: 70px;
	width: 70px;
	border:5px solid #70f970;

}

/* llama info: Title and sub-title */
.llama_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.llama_info span{
	font-size: 20px;
	color: rgb(0, 0, 0);
}
.llama_info p{
	font-size: 10px;
	color: rgba(0,0,0,0.6);
}








/* .contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
} */
/* .msg_card_body{
	overflow-y: auto;
} */
/* .card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
} */






/* FOOTER SECTION 

	- input form 
	- input text
	- send button
	- shadowy effect surrounding the input form

*/


/* shadowy effect surrounding the input form */
.card-footer{
	border-radius: 0px 0px 225px 225px !important;
		border-top: 0 !important;
	}
	
/* type message font color*/
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:rgb(0, 0, 0) !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
}

/* SEND Button - Ponted */
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}




/* MIDDLE SECTION - CHAT DIALOG */

/* resize icon  image in the chat */
.user_icon_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}

.img_cont_msg{
	height: 40px;
	width: 40px;
}


/* message dialoge view - receive  */
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 10px;
	background-color: rgb(175, 211, 245);
	padding: 10px;
	position: relative;
}

/* message dialoge view - send  */
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 10px;
	background-color: rgb(187, 243, 166);
	padding: 10px;
	position: relative;
}


/* position of query send time HH:MM */
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -20px;
	color: rgba(0, 0, 0, 0.5);
	font-size: x-small;
}
/* position of Response time HH:MM */
.msg_time_response{
	position: absolute;
	left: 0;
	bottom: -20px;
	color: rgba(0, 0, 0, 0.5);
	font-size: xx-small;
}




































#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}








/* .attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
} */

/* .search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	 box-shadow:none !important;
   outline:0px !important;
} */

/* .search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
} */
/* .contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
} */
/* .active{
	background-color: rgba(0,0,0,0.3);
} */

